@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

/* Genreal formatting */
.hidden{
	display:none;
}

html,body{
	height: 100%;
	font-size: 14px;

}

body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body > * {
    width: 98%;
    margin: 0 .5%;
    padding: 0 .5%;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom:0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1{
	font-size: 3rem;
	font-weight: lighter;
}
h2{
	font-size: 2rem;
	font-weight: lighter;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	width:100%
}

h2 small{
	font-size:0.5em
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.25rem;
}
h5{
	font-size: 1.13rem;
}
h6{
	font-size: 1.0rem;
	font-weight: bold;
}

p{
	margin:0
}

/* header */
.head{
	text-align:center;
	margin-bottom:1em
}

small{
	color:#333;
}

/* example list */
ul.repo-list{
	list-style:none;
	padding:0em;
}
ul.example-list {
	list-style: none;
	padding:1em 0;
}

ul.example-list li{
	border:2px solid #999;
	display: inline-block;
	margin:0.3em;
}

li.repo{
	position:relative;
}

.src-link {
  position: absolute;
	bottom:0;
	right:0;
  opacity: .5;
	padding:0.2em;
	display:none;
}

.src-link.offset {
	margin-right:20px
}

li.repo:hover .src-link{
	display:block;
}

.controls div{
	display:inline-block;
	cursor:pointer;
}

.controls div.selected{
	font-weight: bold ;
}
