html {
    overflow-y: scroll;
}
/*****************************
** Page header
******************************/
ul.vl-ex-header {
	list-style-type: none;
	overflow: hidden;
	padding:0;
  margin-bottom:0.3em;
}

ul.vl-ex-header li {
	float: left;
	height:2.5em;
	line-height: 2.5em;
	text-align: center;
  vertical-align:middle;
  font-size:1.1em;
}

ul.vl-ex-header li.crumb:after {
  padding: 0 0.2em 0 0.2em;
  content: "/";
}

ul.vl-ex-header li.site a{
  text-decoration: none;
  font-weight:bold;
  color:black;
}

ul.vl-ex-header li.icon {
  vertical-align:middle;
  display:inline-block;
  padding-left:0;
}

ul.vl-ex-header li.icon img{
  padding:8;
	height:24;
	width:24;
}

ul.vl-ex-header li.info{
  cursor:pointer;
  padding-left:0.2em;
  color:blue;
  font-size:1em;
}

ul.vl-ex-header li.arrow{
  border:1px solid black;
  padding:0 0.4em;
  height:1.5em;
  line-height: 1.5em;
}

ul.vl-ex-header li.arrow.disabled{
  background:#ccc;
}

ul.vl-ex-header li.arrow.disabled a{
  pointer-events: none;
  cursor: default;
}

ul.vl-ex-header li.arrow a{
  text-decoration:none;
}

ul.vl-ex-header li.right{
  float:right;
}

ul.vl-ex-header li.back-arrow {
  border-top-left-radius:0.3em;
  border-bottom-left-radius:0.3em;
}

ul.vl-ex-header li.back-arrow a::before {
  font-family: Fontawesome;
  content: "\f104";
}

ul.vl-ex-header li.next-arrow {
  border-top-right-radius:0.3em;
  border-bottom-right-radius:0.3em;
}

ul.vl-ex-header li.next-arrow a::before {
  font-family: Fontawesome;
  content: "\f105";
}


/*****************************
** Example Data
******************************/

div#vl-ex-details{
    border:1px solid #999;
    border-radius:.3em;
    padding:0.5em;
		margin-bottom:1em;
}

p.vl-ex-description{
  margin:0 0 0.3em 0;

}

ul.vl-ex-tags{
  margin:0;
  padding:0;
}

ul.vl-ex-tags li{
  display:inline-block;
  padding: 0.3em 0.7em;
  margin:0.1em 0.3em 0.1em 0;
  border-radius:0.3em;
  border:2px solid black;
  background:white;
}

ul.vl-ex-tags li a{
  text-decoration: none;
}

ul.vl-ex-tags li.vl-ex-md a::before{
  font-family: Fontawesome;
  content: "\f15b";
}

ul.vl-ex-tags li.vl-ex-repo a::before{
  font-family: Fontawesome;
  content: "\f09b";
}

ul.vl-ex-tags li.vl-ex-code a::before{
  font-family: Fontawesome;
  content: "\f121";
}

ul.vl-ex-tags li.vl-ex-data a::before{
  font-family: Fontawesome;
  content: "\f0ce";
}

ul.vl-ex-tags li.tag{
	background:#ddd;
	color:black;
}

ul.vl-ex-tags li.dep{
	position:relative;
	padding-right:1.3em;
}

ul.vl-ex-tags li.dep::after{
	content:"npm";
	font-size:0.5em;
	position:absolute;
	top:2px;
	right:2px;
	color:#444;
}

ul.vl-ex-tags li.rdep{
	position:relative;
	padding-left:1em;
}

ul.vl-ex-tags li.rdep::after{
	content:"R";
	font-size:0.6em;
	position:absolute;
	top:2px;
	right:2px;
	color:#444;
}
