/*****************************
** Page header
******************************/
ul.vl-ex-header {
	list-style-type: none;
	overflow: hidden;
	padding:0;
  margin-bottom:0.3em;
}

ul.vl-ex-header li {
	float: left;
	height:2.5em;
	line-height: 2.5em;
	text-align: center;
  vertical-align:middle;
  font-size:1.1em;
}

ul.vl-ex-header li.crumb:after {
  padding: 0 0.2em 0 0.2em;
    content: ":";
}

ul.vl-ex-header li.site a{
  text-decoration: none;
  font-weight:bold;
  color:black;
}

ul.vl-ex-header li.icon {
  vertical-align:middle;
  display:inline-block;
  padding-left:0;
}

ul.vl-ex-header li.icon img{
  padding:8;
	height:24;
	width:24;
}

ul.vl-ex-header li.info{
  cursor:pointer;
  padding-left:0.2em;
  color:blue;
  font-size:1em;
}

/*****************************
** Example Data
******************************/

div#vl-ex-details{
    background:#ccc;
    border:1px solid #999;
    border-radius:.3em;
    padding:0.5em;
}

p.vl-ex-description{
  margin:0 0 0.3em 0;

}

ul.vl-ex-tags{
  margin:0;
  padding:0;
}

ul.vl-ex-tags li{
  display:inline-block;
  padding: 0.3em 0.5em;
  margin:0 0.3em 0 0;
  border-radius:0.3em;
  border:2px solid black;
  background:white;
}

ul.vl-ex-tags li.tag{
background:#ffffb3;
}

ul.vl-ex-tags li.dep{
background:#bebada;
}

ul.vl-ex-tags li.rdep{
background:#80b1d3;
}
