@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);

/* Genreal formatting */
html,body{
	height: 100%;
	font-size: 14px;
}

body{
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom:0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1{
	font-size: 3rem;
	font-weight: lighter;
}
h2{
	font-size: 2rem;
	font-weight: lighter;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	width:100%
}

h2 small{
	font-size:0.5em
}
h3{
	font-size: 1.5rem;
}
h4{
	font-size: 1.25rem;
}
h5{
	font-size: 1.13rem;
}
h6{
	font-size: 1.0rem;
	font-weight: bold;
}

p{
	margin:0
}

/* header */
.head{
	text-align:center;
	margin-bottom:1em
}

/* Controls */
.controls{
	padding:10px;
}

.controlWrap{
	display:inline-block;
	padding-right:10px;
}

.controlWrap .controlLabel{
	font-size:0.8em;
}


/* Media Tile */

.media-tile.hidden{
	display: none
}

.media-tile{
	display: inline-block;
	position: relative;
	padding: .5rem;
	border: 1px solid #ccc;
	margin: 0 1rem 1rem 0;
	transition: border-color .3s ease-in-out;
}
.media-tile:hover{
	border-color: rgb(108, 207, 253);
}
.media-tile img{
	max-width: 100%;
}
.media-tile .text-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: inherit;
	background-color: rgba(255,255,255,0.9);
	padding: .5em;
}
.media-tile a.text-wrap:hover{
	color: inherit;
}
.media-tile .text-wrap p{
	margin: .5em;
}
.media-tile .text-wrap p:first-of-type{
	font-weight: bold;
	margin-top: 0;
}
.media-tile .text-wrap p+p{
	display: none;
}
.media-tile:hover .text-wrap p+p{
	display: block;
}

/* Data preview */

.wrap {
	padding-top:0.5em;
	padding-bottom:0.5em;
}
.wrap .section{
  display:inline-block;
  vertical-align: top;
}

.file-list{
}

.file-list tr{
  border-top:1px solid #999
}

.data-preview{
  max-width:800px;
  margin-left:1em;

}

.data-table{
  padding-top:1em;
}

table{
  border-collapse: collapse;
}

td{
  padding: 0 0.2em;
}
.data-table table{
  border-bottom:1px solid #999;
}

.data-table table td{
  border-top:1px solid #999;
}

tr.selected{
  background:#ccc;
}

button{
  margin-left:1em
}
