.hidden{
	display:none;
}

.histwrapper div{
	display:inline-block;
	vertical-align:top;
}


.detailTable{
	font-size:.8em;
}
.detailTable th{
	text-align:left;
	font-size:.8em;
}

.legend ul{
	list-style-type: none;
	padding:5px;
	font-size:0.8em;
}
/*
#legend li{
	display: inline-block;
	padding:5px;
	font-size:0.8em;
}

#legend li:not(:last-child){
	border-right:1px solid #bbb;
}
*/
